*{	 
	font-family: "Montserrat",sans-serif;
	margin: 0;
	padding: 0;
	/* box-sizing: border-boxs; */
}

.footer {
	background-color: #F8F9FD; //#F8F9FD;
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	height: 10rem; 
	align-items: center;
	clear: both;
	/* height: 100px; */
	margin-top: 100px;
	text-align: center;
	display: flex;
	justify-content: center

	
}

.home{	
	position: relative;
	min-height: 100vh;
	margin-bottom: -10rem;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

/* Header starts here */

.header{
	min-height: 100px;
	background-color: #F8F9FD;
	display: flex;
	flex-flow: wrap;
	position: sticky;
	align-items: center;
	justify-content: center;
	/* border-radius: 10px 5% / 20px 30px; */

}

.log_name{
	left: 2px ;
	font-weight: bold;
	font-size: 24px;
}

.header a{
	color: black;
	font-size: 14px;
}

.header_nav{
	background-color: #F8F9FD;
	margin-left: 70px;
	/* justfy-content: space-around; */
}

.flex_items{
	/* width: 300px; */
	margin: 0 15px 0 15px;
}

.header_nav a{	
	/* margin-top: 10px; */
	text-decoration: none;	
}


.head_photo {
	margin-right: 20%;
	margin-left: 20%;
}

.head_photo_in{
	width: 100%;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
}

.content {
	margin-top: -5px;
	background: #ECF0F1 ;
	min-height: 100vh;
	margin-bottom: 10rem;
	justify-content: center;
	margin-left: 20%;
	margin-right: 20%;
	position: relative;

}
.map {
	/* margin-left: auto;
	margin-right: auto; */
	height: 500px;
	width: 100%;
}

.content_box {
	background: #87897D;
	display: flex;
	
}

.content_1 {
	width: 60%;
	padding: 20px;
}

.content_2 {
	width: 60%;
	padding: 50px;
	color: white;
}

.content_2 > p {
	padding: 50px;
}

.content_page {
	display: flex;
	padding: 20px;
}
.content_page1 {
	padding: 20px;
	width: 60%;
}

.content_page1 {
	padding: 20px;
	width: 50%;
}

.content_page1 > h1 {
	padding: 20px;
}

.content_page1 > p {
	padding: 20px;
}

.content_page2  {
	padding: 50px;
}

.see_more {
	
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin-top: 10px;
	width: 30%;
	margin: 5px;
}

.card_img {
	width: 400px;
	height: 350px;
}

.footer_more {
	/* position:absolute; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
}